/* .cards{
  background-color: brown;
  max-width: 75%;
  height:20rem;
  margin:0.5rem 0.3rem;
} */

.cards{
  margin: 1rem 0.5rem;
  max-width: 75%;
  background: linear-gradient(0deg, rgba(126,87,196,1) 0%, rgba(204,161,223,1) 54%, rgba(188,247,252,1) 100%);
}