.member{
    width:70%;
    margin: auto;
    background: linear-gradient(0deg, rgba(126,87,196,1) 0%, rgba(204,161,223,1) 54%, rgba(188,247,252,1) 100%);
    color: rgb(1, 8, 15);
}
.ppl{
    display: flex;
    flex-direction: row;
}
.image{
    width:33%;
    height:20rem;
}
.ppl div{
    padding: 4rem 4rem;
}
.h4{
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
    font-size: 2em;
}
.p{
    font-family: Times, "Times New Roman", Georgia, serif;
}
@media screen and (max-width: 720px){
   .ppl{
    flex-direction: column;
   }
   .image{
    width:100%;
    height:20rem;
   }
   .ppl div{
    padding: 1rem 1rem;
}
}