.ftr{
    background-color: #D9AFD9;
    background-image: linear-gradient(45deg, #D9AFD9 25%, #97D9E1 57%, #ffffff 100%);
    margin-top: 2rem;
    color:rgb(61, 6, 112);
}

.ftr a{
    width:2rem;
    height: 2rem;
    text-decoration: none;
    color:rgb(61, 6, 112);
}

.ftr div div div i{
    color:red;
}