.info{
    display:flex;
    overflow: hidden;

}
.text{
   color: rgb(61, 6, 112);
   margin-top: 4rem;
   margin-left: 1rem;
}

.text p{
    margin-right: 8rem;
}
.info div{
    width:50%;
}

.info div img{
    width:100%;
    margin-top:-4rem;
}
.image{
    position:relative;
}
@media screen and (max-width: 900px){
    .info{
        display:block;
    }
    .info div{
        width:100%;
    }  
    
    .text p{
        margin-right:0;
    }

    .info div img{
        margin-top:-4rem;
    }
}