.nav{
    display:flex;
    width:100%;
    justify-content: space-between;    
    margin:auto;
    align-items: center;
    box-sizing: border-box;
    padding:0 2rem;
    background-color: #dcb7ff;
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    position:sticky;
    top:0px;
    z-index:10;
}

.image{
    width:4rem;
    height:3.5rem;
    cursor:pointer;
    padding:1px;
}
.pdt{
    margin-left: 5px;
}

.box{
display: flex;
justify-content: space-between;
}
.buttons{
    right: 0;
}
.button{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color:rgb(108, 45, 167);
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin: 1rem 1rem;
    border-radius: 10px;
    border: rgb(108, 45, 167);
    z-index:100;

}

.button:hover {
    background-color: rgb(149, 55, 204);
    cursor: pointer;
}

@media screen and (max-width: 720px){
    .button{
        padding: 0.1rem 1rem;  
        font-size: 0.8rem;  
    }
    .image{
        margin-left:-1rem;
    }

    .button:hover {
        background-color: rgb(149, 55, 204);
    }
}

@media screen and (max-width: 500px){
    .box{
        padding: 0.1rem 1rem;  
        font-size: 0.8rem;  
         display:flex;
         flex-direction: column;
    }
    .image{
        margin-left:-1rem;
    }

    .button:hover {
        background-color: rgb(149, 55, 204);
    }
}


