.box{
    display:flex;
    justify-content: center;
    background-color:rgb(61, 6, 112);
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.item{
    width:42%;
    margin:1%;
    padding:1 rem;
    background-color: brown;
    background-image: linear-gradient(45deg, #D9AFD9 25%, #97D9E1 57%, #ffffff 100%);
    color: rgb(9, 9, 9);
    width: fit-content;
}
.loadBox{
    overflow: hidden;
   position:fixed;
   top:20rem;
   left:45rem;
   color:rgb(61, 6, 112);
  }
.mainBox{
    background-color:rgb(251, 250, 252);
}