
  .design{
    padding: 10px;
    border-bottom: 1px solid rgb(61, 6, 112);
    color:rgb(61, 6, 112);;
  }

  .table{
    border: 1px solid black;
    border-radius: 12px;
    background-image: linear-gradient(45deg, #D9AFD9 25%, #97D9E1 57%, #ffffff 100%);
    margin-left: auto;
    margin-right: auto;
    font-size: large;
  }
  .heading{
    text-align: center;
  }

  .loadBox{
    overflow: hidden;
   position:fixed;
   top:20rem;
   left:45rem;
   color:rgb(61, 6, 112);
  }
  .box{
    width:100%;
    padding:1px;
    background-color:white;
    color:rgb(61, 6, 112)
  }
  