.Backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .Modal{
    
    position: fixed;
    top: 20vh;
    left: 5%;
    width: 90%;
    color:rgb(61, 6, 112);
    background-image: linear-gradient(135deg, #dcb7ff 22%, #9ef2ff 63%, #ffffff 100%);
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
  }
  
  .Modal button{
    background-color:rgb(61, 6, 112);
    border:3px solid rgb(61, 6, 112);
  }
  .Modal button:hover{
    background-color:rgb(61, 6, 112);
    border:3px solid rgb(61, 6, 112);
  }
  @media (min-width: 768px){
    .modal {
      width: 40rem;
      left: calc(50% - 20rem);
    }
  }
  
  @keyframes slide-down{
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }