body {
  margin: 0px;
  padding: 0px;
}
.main {
  margin: 0px;
  padding: 0px;
  margin-right:0px;
  width:100%;
  background-color:rgb(61, 6, 112);
  color: #FFFFFF;
  font-family: 'Times New Roman', Georgia, serif;
}